fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
transformers==4.41.2
sentencepiece==0.1.99
numpy==1.26.4
torch==2.3.1
torchaudio==2.3.1
soundfile==0.12.1    
librosa==0.10.2.post1
ffmpeg-python==0.2.0 
pyttsx3==2.90
kokoro
misaki
