numpy==2.3.5
pydantic==2.12.4
Requests==2.32.5
sounddevice==0.5.3
soundfile==0.13.1
spacy==3.8.10
streamlit==1.51.0
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
transformers==4.37.2
TTS==0.22.0
uvicorn==0.38.0
